thoughts.md

*.swp

clean~

clean

*.swp

doc/_build
doc/generated
oocgcm/version.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# eclipse related files 
.project
.pydevproject
.settings/

# fig and movies
*.jpg
*.pdf
*.mp4

